@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.5;
}

ul {
    list-style: none;
}

li {
    padding: 5px;
}

img {
    width: 40%;
    max-width: 100%;
    
}


.arrowleft{
    grid-area: left;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 0; 
    height: 0; 
    border-top: 3rem solid transparent;
    border-bottom: 3rem solid transparent; 
    border-right:3rem solid #bbb; 
    
}

.arrowright {
    grid-area: right;
    margin: auto;
    display: flex;
    justify-content: center;
   
    width: 0; 
    height: 0; 
    border-top: 3rem solid transparent;
    border-bottom: 3rem solid transparent;
    border-left: 3rem solid #bbb;

}

.memes {
    grid-area: memes;
    width: 100%;
    height: auto;
    background: url(../img/loading.gif) 600% no-repeat;
    
}

.memes > img {
    width: 100%;
    background: url(../img/loading.gif) 600% no-repeat;
}



#footer {
    background-color: #FFF082;
    margin: auto;
    height: auto;
    padding: 20px;
    text-align: center;
}

/******** NAVIGATION ********/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  

/***** GRID *****/


.grid {
    padding-top: 15px;
    box-shadow: 1px 1px 20px 1px black;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    ". title title title ."
    "hamburger . . . icon"
    ". . . . . "
}

.title {
    grid-area: title;
    align-items: center;
    justify-self: center;
    text-transform: uppercase;
    text-align: center;
    font-size: .7rem;
}

.hamburger {
    grid-area: hamburger;
    font-size: 2rem;
    padding: 10px;
}

.icon {
    grid-area: icon;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    
}


.contContainer {
    margin: auto;
    padding: 20px 0;
    width: 100%;
    display: grid;
    grid-template-columns:  1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "left memes right"

}



/**************** NEWS MODAL *****************/

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content */
.news-content {
    background-color: #000;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px;
  }

.news-content > section{
    color: white;
}

/* The Exit Button */
.exit {
    color: #aaaaaa;
    float: right;
    font-size: 5rem;
    font-weight: bold;
  }
  
.exit:hover,
.exit:focus {
  color: #FFF;
  text-decoration: none;
}




/*************************************************
MEDIA QUERIES
**************************************************/


/*************************************************
SMALL  SCREENS
**************************************************/
@media screen and (min-width: 320px) and (max-width: 767px) {
    
    .modal-header {
        text-align: left;
    }
    .modal-header > h1 {
        font-size: 1rem;
        text-transform: uppercase;
    }
    
    .modal-header > h4 {
        font-size: .7rem;
    }

    .modal-header > p {
        font-size: .7rem;
    }

    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .modal-content{
        height: 50vh;
    }

    .arrowleft { 
        border-top:1.3rem solid transparent;
        border-bottom: 1.3rem solid transparent; 
        border-right: 1.3rem solid #bbb; 
}

    .arrowright {
        border-top: 1.3rem solid transparent;
        border-bottom: 1.3rem solid transparent;
        border-left: 1.3rem solid #bbb;

}

 
}


/*************************************************
LARGER SCREENS
**************************************************/
@media screen and (min-width: 768px) {

    .contContainer {
        width: 90%;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        ". left memes memes memes right .";
    }

    .memes {
       margin: 50px 0;
    }
    
    .hamburger {
    font-size: 3.3rem;
    }

    .title > h1 {
        font-size: 2rem;
    }

    .modal-content{
        height: 70vh;
        text-align: center;
    }

    .modal-content > h1 {
        font-size: 6rem;
    }

    .modal-content > h4 {
        font-size: 3rem;
    }

}



/*The modal (background)*/
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-animation-name: fadeIN;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}
/* modal content */
.modal-content {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    padding: 2rem;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    color: #fff;
    
}

.modal-header {
    padding: 2px 16px;
    background-color: #000;
    color: white;
}

.modal-header > h1 {
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.modal-header > h1 {
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.modal-header > p {
    padding: 2rem 0;
}


/*close button*/
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* add animation */
@-webkit-keyframes slideIN {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}
@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}
@-webkit-keyframes fadeIN {
    from {opacity:0}
    to {opacity:1}
}
@keyframes fadeIN {
    from {opacity: 0}
    to {opacity: 1}
}

.LockOn {
    display: block;
    visibility: visible;
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color:white;
    /* padding-top: 20%;  */
    filter: alpha(opacity=75); 
    opacity: 0.75; 
    font-size:large;
    color:blue;
    font-style:italic;
    font-weight:400;
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

