@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;

}

ul {
    list-style: none;
}

li {
    padding: 5px;
}

img {
    width: 40%;
    max-width: 100%;
}



.arrowleft{
    grid-area: left;
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.arrowright {
    grid-area: right;
    margin: auto;
    display: flex;
    justify-content: center;
   
}

.iframe {
    grid-area: iframe;
    height: 70vh;
}

#footer {
    background-color: #FFF082;
    margin: auto;
    height: auto;
    padding: 20px;
    text-align: center;

}

/******** NAVIGATION ********/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  

/***** GRID *****/


.grid {
    padding-top: 15px;
    box-shadow: 1px 1px 20px 1px black;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    ". title title title ."
    "hamburger . . . icon"
    ". . . . . "
}

.title {
    grid-area: title;
    align-items: center;
    justify-self: center;
    text-transform: uppercase;
}

.hamburger {
    grid-area: hamburger;
    font-size: 2rem;
    padding: 10px;
}

.icon {
    grid-area: icon;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    
}


.contContainer {
    margin: auto;
    padding: 20px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "left left iframe right right"

}


@media screen and (max-width: 480px){

    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }

    .title > h1 {
        font-size: 1.3rem;
    }
}



@media screen and (min-width: 768px) {

    .contContainer {
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        ". left iframe right ."
    }

    .iframe {
       margin: 50px 0;
    }
    
    .hamburger {
        font-size: 3.3rem;
    }

    .title > h1 {
        font-size: 2rem;
    }

}